#image{
width:200px;
height:200px;
border:solid 2px white;
margin:2px;
padding:3px;
border-radius:50%;
}
#menubar{
display:inline;}

a{
text-align:left;
text-decoration:none;
padding:0px 190px 0px 0px;
color:white;
font-size:20px;
}
#submit{
background-color:black;
color:white;
font-size:15px;
}
